.job-tag {
  display: flex;
  align-items: center;

  &.filtered {
    button {
      border-radius: var(--radius) 0 0 var(--radius);
    }
  }

  button {
    padding: 1rem;
    border-radius: var(--radius);
    color: var(--dark-cyan);
    font-weight: 700;
    background-color: var(--bg-color);
    transition: var(--trans-time);
    line-height: 1rem;

    &:hover {
      color: white;
      background-color: var(--dark-cyan);
    }
  }

  img {
    padding: 1rem;
    width: 1rem;
    aspect-ratio: 1rem;
    background-color: var(--dark-cyan);
    border-radius: 0 var(--radius) var(--radius) 0;

    &:hover {
      cursor: pointer;
    }
  }
}
