@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --dark-cyan: hsl(180, 29%, 50%);

  --bg-color: hsl(180, 52%, 96%);
  --filter-bg-color: hsl(180, 31%, 95%);

  --trans-time: 0.3s;

  --radius: 0.5rem;
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  #root {
    flex-grow: 1;
    position: relative;
    max-width: 120rem;
  }
}

body,
button {
  font-family: "League Spartan", sans-serif;
}

button {
  border: none;
  transition: var(--trans-time);

  &:hover {
    cursor: pointer;
  }
}
