:root {
  --gap: 1.5rem;
}

.job-info {
  padding: 0 var(--gap) var(--gap) var(--gap);
  margin-bottom: min(12vw, 88px);
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1rem hsl(180, 29%, 50%, 0.3);
  border-radius: var(--radius);

  &.featured {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.5rem;
      background-color: var(--dark-cyan);
      border-radius: var(--radius) 0 0 var(--radius);
    }
  }

  &__text {
    padding-bottom: var(--gap);
    border-bottom: 1px solid var(--very-dark-grayish-cyan);
    margin-bottom: var(--gap);

    img {
      width: min(12vw, 88px);
      transform: translate(0, -50%);
    }

    &__about {
      display: flex;
      align-items: center;
      gap: var(--gap);

      h3 {
        margin-block: 0;
        color: var(--dark-cyan);
      }

      &__status {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        font-weight: 700;
      }
    }

    &__position {
      transition: var(--trans-time);
      cursor: pointer;

      &:hover {
        color: var(--dark-cyan);
        font-weight: 700;
      }
    }

    &__small-details {
      color: var(--dark-grayish-cyan);
    }
  }

  &__requirements {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.status {
  padding: 0.5rem;
  color: var(--bg-color);
  text-transform: uppercase;
  border-radius: 2rem;

  &.new {
    background-color: var(--dark-cyan);
  }

  &.featured {
    background-color: var(--very-dark-grayish-cyan);
  }
}

@media screen and (min-width: 64rem) {
  .job-info {
    padding: var(--gap);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      display: flex;
      align-items: center;
      gap: var(--gap);
      padding: 0;
      margin: 0;
      border-bottom: none;

      img {
        transform: none;
      }
    }

    &__requirements {
      max-width: 50%;
      justify-content: end;
    }
  }
}